<strong>Ola {{student}}</strong>,

<p>Gympoint acabou de enviar uma resposta em sua dúvida!</p>

<p style="font-size: 18px; text-transform: capitalize; color: #52565e;">
  <strong>{{question}}</strong>
</p>
<p style="font-size: 14px; background: #f3f4f7; padding: 10px 15px; color: #505050;">
  R: {{answer}}
</p>

